@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));






body {
  font-family: 'Urbanist', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.clr1 {
    background-color: rgba(255, 255, 235, 0.4);
}
.clr2 {

    





/* background: linear-gradient(135deg, #E6F7FF, #E6FFF5); */


background: linear-gradient(135deg, rgba(110, 198, 255, 0.7), rgba(110, 231, 183, 0.7));



}

.clr3 {
    background: linear-gradient(135deg, rgba(110, 198, 255, 0.2), rgba(110, 231, 183, 0.2));
}